.messenger-button {
background-color: #0078ff;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-size: 20px;
padding: 16px 31px;
text-decoration: none !important;
}
.messenger-button:hover {
background-color: #0056b5;
color: #ffffff;
}
.messenger-button:active {
position: relative;
top: 1px;
color: #ffffff;
}
.messenger-button:visited {
color: #ffffff;
}