@media (min-width: 992px) {
  .toc {
    position: --webkit-sticky;
    position: sticky;
    top: 64px;
    margin-left: 2rem;
  }

  .toc-content {
    margin-right: 2rem;
  }
}

.toc h2 {
  margin: 0;
  font-size: large;
}

.toc ul {
  padding-left: 0;
}

.toc ul ul {
  padding-left: 2rem;
}

.toc li {
  list-style-type: none;
}

.toc ul ul li {
  list-style-type: inherit;
}

.container.single-page {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.toc-content {
  max-height: 80vh;
  overflow-y: auto;
}
