<div id="calendar-{{.Get 1 | anchorize }}">
  <iframe
    src="https://calendar.zoho.eu/zc/ui/embed/#calendar={{.Get 0}}&title={{.Get 1}}&type=1&language=en&timezone=Europe%2FCopenhagen&showTitle=0&showTimezone=0&startingDayOfWeek=1&view=month&showDetail=0&theme=1&showAttendee=0&showSwitchingViews=0&showAllEvents=0&showLogo=0"
    width="100%"
    height="400"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <br />
  <p>
    If the calander failed to load,
    <a
      href="http://calendar.zoho.eu/zc/ui/embed/#calendar={{.Get 0}}&mode=pub&timezone=Europe/Copenhagen"
    >
      visit the Calendar Webpage
    </a>
  </p>
</div>
