<!-- Check wether the messenger button has already been loaded -->
{{- if not ($.Page.Scratch.Get "messengerbuttoncount") }}

<!-- Load in mdi icons -->
<link rel="stylesheet" href="\icons\mdi\css\materialdesignicons.min.css" />

<!-- Load in CSS -->
<style>
  .messenger-button {
    background-color: #0078ff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none !important;
  }
  .messenger-button:hover {
    background-color: #0056b5;
    color: #ffffff;
  }
  .messenger-button:active {
    position: relative;
    top: 1px;
    color: #ffffff;
  }
  .messenger-button:visited {
    color: #ffffff;
  }
</style>
{{ end }} {{- $.Page.Scratch.Add "messengerbuttoncount" 1 -}}

<!-- The HTML Code -->
{{ if .IsNamedParams }}
<a
  href='https://m.me/{{.Get "pageid" }}?ref={{with .Get "ref" }}{{.}}{{else}}abk_website{{end}}'
  class="messenger-button"
>
  <span class="mdi mdi-facebook-messenger"></span> Message Us</a
>
{{ else }}
<a href="https://m.me/{{.Get 0 }}?ref=abk_website" class="messenger-button">
  <span class="mdi mdi-facebook-messenger"></span> Message Us</a
>
{{ end }}
