<div id="pdf-{{.Get 0 | anchorize }}"></div>
<script defer>
    window.addEventListener('DOMContentLoaded', () => {
        PDFObject.embed({{.Get 0 }}, "#pdf-{{.Get 0 | anchorize }}");
    })
</script>

<style>
    .pdfobject-container {
        height: 115rem;
    }
</style>